@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContext

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Let Master Ug</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LetMasterWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Let Master</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        @if (httpContext.HttpContext?.User.IsInRole("Admin") == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="adminDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Administration</a>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <li><a class="dropdown-item" asp-page="/usermgt/listusers">Users</a></li>
                                    <li><a class="dropdown-item" href="/PropertyType">Configurable Item Management</a></li>
                                    <li><a class="dropdown-item" href="/properties">Properties</a></li>
                                    <li><a class="dropdown-item" href="/tenants">Tenants Management</a></li>
                                    <li><a class="dropdown-item" href="/notifications">User Notifications</a></li>
                                </ul>
                            </li>
                        }
                        @if (httpContext.HttpContext?.User.IsInRole("Manager") == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="managerDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Property Management</a>
                                <ul class="dropdown-menu" aria-labelledby="managerDropdown">
                                    <li><a class="dropdown-item" href="/properties">Properties</a></li>
                                    <li><a class="dropdown-item" href="/tenants">Tenant Management</a></li>
                                    <li><a class="dropdown-item" href="/expenses">Reports</a></li>
                                </ul>
                            </li>
                        }
                        @if (httpContext.HttpContext?.User.IsInRole("Tenant") == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="tenantDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Tenant</a>
                                <ul class="dropdown-menu" aria-labelledby="tenantDropdown">
                                    <li><a class="dropdown-item" href="/tenantAccounts">List Rental Account(s)</a></li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Support">Help</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                    @* <ul class="navbar-nav">
                        @if (httpContext.HttpContext != null && httpContext.HttpContext.User.Identity != null && httpContext.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="tenantDropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    Hello, @httpContext.HttpContext.User.FindFirst("FullName")?.Value!
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="tenantDropdown">
                                    <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-antiforgery="true">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Ug Let Master - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
